<h1>Tind Marc Batch Load Tool</h1>
<p>This form is for creating a Tind Marc batch load from a directory of files. Metadata will be obtained from Alma</p>
<%= form_with(url: '', local: true, target: '_blank') do |f| %>  
  <%= hidden_field_tag :email, @current_user.email %>
  <div class="form-label form-group required">
    <%= label_tag('directory', 'Resource Directory', class: 'control-label') %>
    <span style="font-size:0.4em">(example: librettos/ucb/incoming or /librettos/ucb/incoming)</span>
  </div>
  <div class="form-input required mb-4">
    <%= f.text_field(:directory, :onkeyup => 'checkFormInputs()', class: 'narrow form-control add-required', required: true, autofocus: true) %>
  </div>

  <div class="form-label form-group required">
    <%= label_tag('library', 'Library Location', class: 'control-label') %>
  </div>
  <div class="form-input required mb-4">
    <%= f.text_field(:library, :onkeyup => 'checkFormInputs()', class: 'narrow form-control add-required', required: true, autofocus: true) %>
  </div>

  <div class="form-label form-group required">
    <%= label_tag('980_a', '980_a (internal collection code)', class: 'control-label') %>
  </div>
  <div class="form-input required mb-4">
    <%= f.text_field(:f_980_a, :onkeyup => 'checkFormInputs()', class: 'narrow form-control add-required', required: true, autofocus: true) %>
  </div>

  <div class="form-label form-group required">
    <%= label_tag('982_a', '982_a (collection short name)', class: 'control-label') %>
  </div>
  <div class="form-input required mb-4">
    <%= f.text_field(:f_982_a, :onkeyup => 'checkFormInputs()', class: 'narrow form-control add-required', required: true, autofocus: true) %>
  </div>

  <div class="form-label form-group required">
    <%= label_tag('982_b', '982_b (collection long name)', class: 'control-label') %>
  </div>
  <div class="form-input required mb-4">
    <%= f.text_field(:f_982_b, :onkeyup => 'checkFormInputs()', class: 'narrow form-control add-required', required: true, autofocus: true) %>
  </div>

  <div class="form-label form-group">
    <%= label_tag('982_p', '982_p (optional)', class: 'control-label') %>
  </div>
  <div class="form-input mb-4">
    <%= f.text_field(:f_982_p, :onkeyup => 'checkFormInputs()', class: 'narrow form-control', required: false, autofocus: true) %>
  </div>

  <div class="form-label form-group required">
    <%= label_tag('type', 'Resource Type (for facet)', class: 'control-label') %>
  </div>
  <div class="form-input required mb-4">
    <%= f.select :resource_type, Rails.application.config.tind_resource_types %>
  </div>

  <div class="form-label form-group required">
    <%= label_tag('540_a', '540_a (Rights statement, can be edited)', class: 'control-label') %>
  </div>
  <div class="form-input mb-4 required">
    <%= f.text_area(:f_540_a, :onkeyup => 'checkFormInputs()', class: 'narrow form-control', autofocus: true, value: t('tind_marc_batch.standard_rights_statement'), rows: 8, required: true ) %>
  </div>

  <div class="form-label form-group">
    <%= label_tag('restriction', 'Restriction (optional)', class: 'control-label') %>
  </div>
  <div class="form-input mb-4">
    <%= f.select :restriction, Rails.application.config.tind_restrictions, include_blank: true %>
  </div>

  <div class="form-input">
   <%= f.submit(class: 'btn btn-primary', value: 'Create Batch') %> 
  </div>
<% end %>
