<!-- Header and Admin Link -->
<span class="flex-heading">
  <span>
    <h1 class="inline-title">All Proxy Borrower Card Requests:</h1>
  </span>
  <span>
    <%= link_to 'Export Data', 
      forms_proxy_borrower_admin_export_path(:format => :csv),
      class: "btn btn-sm btn-primary title-link btn-white-text blue_bg pb-4 mr-3" %>
    <%= link_to 'Admin Home', 
      forms_proxy_borrower_admin_path, 
      class: "title-link text-nowrap" %>
  </span>
</span>
<table class="table table-bordered mt-5">
  <!-- the header row -->
  <thead class="thead-light has-sortable-columns">
    <tr>
      <%= sortable "faculty_name", "Faculty/Academic Staff" %>
      <%= sortable "student_name", "DSP Participant" %>
      <%= sortable "research_last", "Proxy (Research Assistant)" %>
      <%= sortable "dsp_rep", "DSP Rep" %>
      <%= sortable "created_at", "Date of Request" %>
      <%= sortable "date_term", "Date proxy expires" %>
    </tr>
  </thead>
  <!-- Layout all those beautiful requests -->
  <tbody>
    <% @requests.each do |r| %>
      <tr>
        <td><%= r.faculty_name %></td>
        <td><%= r.student_name %></td>
        <td><%= r.full_name() %></td>
        <td><%= r.dsp_rep %></td>
        <td><%= r.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= r.date_term.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
