<span class="flex-heading">
  <h1 class="inline-title">Add/Edit Proxy Borrower Card Administrators</h1>
  <%= link_to 'Admin Home',  forms_proxy_borrower_admin_path, class: "title-link text-nowrap" %>
</span>
<%= form_with url: "/forms/proxy-borrower/add_admin", local:true do %>
  <div class="form-group pt-3">
    <h2>Add Admin:</h2>
    <div class="form-group row">
      <%= label_tag(:lcasid, "User ID:", class: "col-2") %>
      <%= text_field_tag(:lcasid, nil, size: 40, placeholder: "UID", class: "col-4", required: true, autofocus: true) %>
    </div>
    <div class="form-group row">
      <%= label_tag(:name, "Full Name:", class: "col-2") %>
      <%= text_field_tag(:name, nil, size: 40, placeholder: "John Doe", class: "col-4", required: true) %>
    </div>
    <div class="form-group">
      <input type="submit" id="add-admin-btn" class="btn btn-primary" value="Add Administrator">
    </div>
  </div>
<% end %>
<br>
<h2>Edit Admin:</h2>
<div class="pt-3 pb-3 mb-0 container table-header">
  <div class="row">
    <div class="col">
      Administrators
    </div>
    <div class="col">
      User ID
    </div>
    <div class="col text-center">
      Action
    </div>
  </div>
</div>
<div class="container">
  <% @users.each do |u| %>
    <%= form_with url: "/forms/proxy-borrower/update_admin", method: :patch, local:true do %>
      <div class="row pt-3 pb-3 border-top align-middle">
        <!-- FRAMEWORK USER ID -->
        <%= hidden_field( :FrameworkUsers, :id, :value => u.id ) %>
        <!-- USER NAME -->
        <div class="col user-col">
          <%= u.name %>
        </div>
        <!-- USER ID (LCASID) -->
        <div class="col user-col">
          <%= u.lcasid %>
        </div>
        <!-- USER ACTIONS -->
        <div class="col action-col text-center">
          <%= link_to 'Remove', forms_proxy_borrower_delete_admin_path(u), 
            method: :delete, 
            data: {confirm: "Are you sure you want to delete #{u.name}?"},
            class: 'btn btn-sm btn-danger btn-white-text' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
