<%# TODO: Form validation (cf. TIND) %>
<section id="holdings-request-form">
  <% if holdings_request.errors.any? %>
    <div class="alert alert-danger fade show" role="alert">
      <h5 class="alert-heading">The following errors have been found. Please correct them before submitting the form again:</h5>
      <table class="errors">
        <% holdings_request.errors.each do |error| %>
          <tr>
            <th scope="row"><%= t("activerecord.attributes.holdings_request.#{error.attribute}") %></th>
            <td><%= error.message %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <%= form_with(model: holdings_request) do |form| %>
    <ul>
      <li>
        <div class="form-label form-group required">
          <%= form.label :email, class: 'control-label' %>
        </div>
        <div class="form-input required mb-4">
          <%= form.text_field :email, class: 'form-control add-required' %>
        </div>
      </li>
      <li>
        <div class="form-label form-group required">
          <%= form.label :input_file, class: 'control-label' %>
        </div>
        <div class="form-input required mb-4">
          <%= form.file_field :input_file, class: 'form-control add-required' %>
        </div>
      </li>
      <li>
        <fieldset class="required">
          <legend>Include</legend>
          <ul>
            <li>
              <%= form.label :rlf %>
              <%= form.check_box :rlf %>
            </li>
            <li>
              <%= form.label :uc %>
              <%= form.check_box :uc %>
            </li>
            <li>
              <%= form.label :hathi %>
              <%= form.check_box :hathi %>
            </li>
          </ul>
        </fieldset>
      </li>
      <li>
        <p class="required-note">Required</p>
      </li>
      <li>
        <%= form.submit(class: %w[btn btn-primary]) %>
      </li>
    </ul>
  <% end %>

</section>
