<div id="<%= dom_id holdings_request %>">
  <table class="holdings-request attributes">
    <tbody>
      <tr>
        <th scope="row"><%= t('activerecord.attributes.holdings_request.email') %></th>
        <td><%= holdings_request.email %></td>
      </tr>
      <tr>
        <th scope="row"><%= t('activerecord.attributes.holdings_request.filename') %></th>
        <td>
          <%= link_to(holdings_request.filename, rails_blob_path(holdings_request.input_file, disposition: 'attachment')) %>
        </td>
      </tr>
      <tr>
        <th scope="row">Include</th>
        <td>
          <table class="options attributes">
            <tbody>
              <% [:rlf, :uc, :hathi].each do |opt| %>
                <tr>
                  <th scope="row"><%= t("activerecord.attributes.holdings_request.#{opt}") %></th>
                  <td>
                    <% value = holdings_request.send(opt) || false %>
                    <%= t("activerecord.attributes.holdings_request.include.#{value}") %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th scope="row">Submitted</th>
        <td>
          <% created_at = holdings_request.created_at %>
          <%= l(created_at.in_time_zone('America/Los_Angeles'), format: :tabular) %>
        </td>
      </tr>
      <tr>
        <th scope="row">Scheduled to run</th>
        <td>
          <% if (scheduled_at = holdings_request.scheduled_at) %>
            <%= l(scheduled_at.in_time_zone('America/Los_Angeles'), format: :tabular) %>
          <% else %>
            immediately
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Started at</th>
        <td>
          <% if (first_completed_at = holdings_request.first_completed_at) %>
            <%= l(first_completed_at.in_time_zone('America/Los_Angeles'), format: :tabular) %>
          <% else %>
            (no records completed)
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Last updated at</th>
        <td>
          <% if (last_completed_at = holdings_request.last_completed_at) %>
            <%= l(last_completed_at.in_time_zone('America/Los_Angeles'), format: :tabular) %>
          <% else %>
            (no records completed)
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Records</th>
        <td>
          <table class="options attributes">
            <tbody>
              <% [:record_count, :completed_count, :error_count].each do |attr| %>
                <tr>
                  <th scope="row">
                    <%= holdings_request.send(attr) %>
                  </th>
                  <td>
                    <%= t("activerecord.attributes.holdings_request.#{attr}").downcase %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th scope="row"><%= t('activerecord.attributes.holdings_request.output_file') %></th>
        <td>
          <% if holdings_request.output_file.attached? %>
            <%= link_to(holdings_request.output_filename, rails_blob_path(holdings_request.output_file, disposition: 'attachment')) %>
          <% else %>
            (none)
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
