<h1>All Holdings Requests</h1>

<p>
  <%= link_to('Schedule a holdings request', new_holdings_request_path) %>
</p>

<div id="holdings_requests">
  <table class="holdings-request holdings-request-list">
    <thead>
      <tr>
        <td></td>
        <th scope="col">Email</th>
        <th scope="col">Input file</th>
        <th scope="col">RLF</th>
        <th scope="col">UC</th>
        <th scope="col">HT</th>
        <th scope="col">Submitted</th>
        <th scope="col">Scheduled to run</th>
        <th scope="col"># Records</th>
        <th scope="col"># Complete</th>
        <th scope="col"># Errors</th>
        <th scope="col">Output file</th>
      </tr>
    </thead>
    <tbody>
      <% @holdings_requests.each do |holdings_request| %>
        <tr id="<%= dom_id holdings_request %>">
          <td><%= link_to 'View', holdings_request %></td>
          <td><%= holdings_request.email %></td>
          <td>
            <% if holdings_request.input_file_uploaded? %>
              <%= link_to(holdings_request.filename, rails_blob_path(holdings_request.input_file, disposition: 'attachment')) %>
            <% else %>
              <%= holdings_request.filename %>
            <% end %>
          </td>
          <% [:rlf, :uc, :hathi].each do |opt| %>
            <td>
              <% value = holdings_request.send(opt) || false %>
              <%= t("activerecord.attributes.holdings_request.include.#{value}") %>
            </td>
          <% end %>
          <td class="timestamp">
            <% created_at = holdings_request.created_at %>
            <%= l(created_at.in_time_zone('America/Los_Angeles'), format: :tabular) %>
          </td>
          <td class="timestamp">
            <% if (scheduled_at = holdings_request.scheduled_at) %>
              <%= l(scheduled_at.in_time_zone('America/Los_Angeles'), format: :tabular) %>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= holdings_request.record_count %></td>
          <td><%= holdings_request.completed_count %></td>
          <td><%= holdings_request.error_count %></td>
          <td>
            <% if holdings_request.output_file_uploaded? %>
              <%= link_to(holdings_request.output_filename, rails_blob_path(holdings_request.output_file, disposition: 'attachment')) %>
            <% else %>
              (none)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
