<%= form_for(@form) do |f| %>

<h1>Alt-Media Scanning</h1>

<p>The Library provides alt-media scanning services for Berkeley faculty, instructors, visiting scholars, and staff who qualify under the Chafee Amendment to the Copyright Act and who choose to enroll in the service. This amendment states:</p>

<blockquote class="blockquote">
  <p class="ml-3 small">It is not an infringement of copyright for an authorized entity to reproduce or to distribute copies or phonorecords of a previously published, nondramatic literary work if such copies or phonorecords are reproduced or distributed in specialized formats exclusively for use by blind or other persons with disabilities.</p>
</blockquote>

<p>This alt-media scanning service is intended to support Berkeley faculty, instructors, visiting scholars, and staff in their teaching and research.</p>

<p>The Library provides qualified users with digital files of the library's print collection.</p>

<p>By completing this form, the individual is indicating that they have a disability which qualifies them for this service. The Library is not a medical provider, and accepts the individual's word that they qualify for this service.  Upon receipt of this form, the Library adds a generic note to the person's borrower record ("library book scan eligible"). The Library does not share this information in any other way with other entities on campus or off campus.</p>

<p>Use this form both to opt-in to the service, and to terminate the service if your circumstances change. Please allow up to 48 hours for your status in the system to be updated.</p>

<hr />

  <p style="color:#ee0000">* Required</p>

  <div class="form-group" role="radiogroup" aria-required="true">
    <div class="form-check">
      <%= f.radio_button(:opt_in, true, checked: true) %>
      <%= f.label(:opt_in_true) %>
    </div>
    <div class="form-check">
      <%= f.radio_button(:opt_in, false) %>
      <%= f.label(:opt_in_false) %>
    </div>
  </div>

  <%= field_for(f, :patron_name, required: true) %>

  <%= f.submit(class: 'btn btn-primary') %>
<% end %>
