<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Student Electronic Devices Loan  - Terms and Conditions</h1>

  <% if @form.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h5>Validation Failed</h5>

      <p>We identified the following errors in your submission:</p>

      <ul>
        <% @form.errors.full_messages.each do |attribute, msg| %>
          <li><%= "#{attribute} #{msg}" %></li>
        <% end %>
      </ul>

      <p>Please correct these and resubmit the form.</p>
    </div>
  <% end %>

  <div class="alert alert-warning"><strong>Eligibility:</strong> This service is available to registered UC Berkeley students only.</div>

  <p>Users must be registered students in good standing (no fines, no overdue items, no overdue recalls, no blocks) in order to borrow a Dell, Macbook or Chromebook from libraries. Users must provide their valid Cal 1 Card to borrow; desk staff must be able to scan card barcode at check-out. Devices for students are available at the Marian Koshland Bioscience, Natural Resources & Public Health Library, Kresge Engineering Library, Moffitt Undergraduate Library, and the Social Research Library (loan periods vary by location).</p>

  <p>Revised 1/30/2019</p>

  <hr />

  <p style="color: #ee0000">* Required</p>

  <h2>Borrowing Guidelines</h2>

<p></p>

  <ul>
    <li>The current academic year Electronic Devices Student Agreement Form must be signed electronically or in person electronically prior to checking out a laptop or Chromebook.</li>
    <li>Devices are available on a first come, first serve basis (no advance holds, no waiting lists).</li>
    <li>Only 1 electronic device per person is permitted across lending libraries; this includes long term devices.</li>
    <li>All files and data are erased at shutdown or when restarted - save all work to external storage or the cloud.</li>
    <li>Device must be returned to the circulation/service desk it was borrowed from; do not return via book drop.</li>
    <li>Long-term devices must be returned with all accessories.</li>
    <li>Semester Chromebooks for Data Science courses: Students must show proof of enrollment in a designated Data Science course for the current semester to borrow.</li>
    <li>After returning a 14-day laptop, a 24 hour interval is required before checking out another of the same brand.​</li>
  </ul>

  <div class="check-heading" style="font-size: 1.5rem";>Borrowing Guidelines<span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :borrow_check, {required: true}, "checked", "unchecked" %> <%= f.label :borrow_check, "I have read and I understand the borrowing guidelines" %> </div>

<p></p>

  <h2>Student Lending Program Loan Period</h2>

<p></p>

  <ul>
    <li>4-hour: Due exactly 4 hours (240 minutes) from loan time. Overdue fines begin accruing at 1 minute beyond due time and at 1 minute into each subsequent overdue hour.</li>
    <li>1-day: Due next day by one hour before closing. Devices circulate with bag and charger.</li>
    <li>14-day: Due 14 days from date of check out (or next operating day). Devices circulate with bag and charger.</li>
    <li>Semester (fixed-date) Data Science Chromebooks: Due finals week (Monday) by 11:59pm. *Only available at the Moffitt 4th floor service desk.</li>
  </ul>
  
  <div class="check-heading" style="font-size: 1.5rem";>Student Lending Program Loan Period <span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :lend_check, {required: true}, "checked", "unchecked" %> <%= f.label :lend_check, "I have read and I understand the student lending program loan periods." %> </div>

<p></p>

  <h2>Fines and Liability</h2>

<p></p>

  <ul>
    <li>We will check all equipment and accessories/peripheral items to ensure completeness and proper working order when you borrow and when you return.</li>
    <li>Borrowers assume responsibility for any damage to, loss and/or theft of the device and any/all of its accessories while it is charged out to their library account.</li>
    <li>The overdue fine for 4-hour devices is $20 per hour with no maximum (ex: a device returned 2 hours and 1 minute late is considered 3 hours late, resulting in a $60 overdue charge assessed to the user’s library account).</li>
    <li>1-day loans and 14-day loans are assessed a $60 billing fee if returned late.</li>
    <li>Replacement costs: $2,000 (plus billing fees) for laptops, $95 for chargers, $30 for bags. More detailed information regarding replacement costs can be found at lib.berkeley.edu/using-the-libraries/fines.</li>
    <li>No actual equipment replacement accepted.</li>
    <li>Standard hourly inspection/repair rate: $75 (damage inspection cost begins at $75).</li>
    <li>All fines and fees, including replacement costs and overdue charges, will be assessed at the library’s discretion, are non-negotiable, and will not be waived under any circumstance.</li>
  </ul>
  
  <div class="check-heading" style="font-size: 1.5rem";>Fines and Liability <span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :fines_check, {required: true}, "checked", "unchecked" %> <%= f.label :fines_check, "I have read and I understand the fines and liability." %> </div>

<p></p>

  <%= field_for(f, :display_name, required: true, readonly: true) %>
  <%= field_for(f, :patron_email, required: true, readonly: true) %>
  <%= f.hidden_field :patron_id %>
  
  <h2>Electronic Devices Loan Agreement</h2>
  
  <p>I have read the loan terms and conditions. When I check out a device, I have verified that it is in good working order. By signing below, I take full responsibility for any damage, repairs, or any replacement costs. I understand that any/all replacement costs, and overdue charges are non-negotiable. Failure to abide by Library policies regarding device use may result in the loss of electronic device borrowing privileges (blocks may be temporary or permanent).</p>


  <div class="emphasis" style="font-size: 1.5rem";>By checking this box, I am submitting an electronic signature that I agree with, and will adhere to, the policies and procedures stated above.<span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :edev_check, {required: true}, "checked", "unchecked" %> <%= f.label :edev_check, "I agree to this Electronic Devices Loan Agreement." %> </div>


  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>

