<h2>Confirm Payment</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam tempora asperiores consequatur adipisci sapiente soluta necessitatibus eligendi? Aperiam, nesciunt numquam.</p>
<!-- rts : responsive table scss -->
<div class="rts-table">
  <div class="rts-header">
    <div class="rts-row">
      <div class="rts-cell rts-w100 rts-c">#</div>
      <div class="rts-cell rts-w400">Type</div>
      <div class="rts-cell rts-w150">Fee / Fine</div>
    </div>
  </div>
  <% @transaction_details['fines'].each_with_index do |fine, idx| %>
    <div class="rts-rowgrp">
      <div class="rts-row">
        <div class="rts-cell rts-w100 rts-c"><%= idx += 1 %></div>
        <div class="rts-cell rts-w400"><%= fine['type']['desc'] %></div>
        <div class="rts-cell rts-w150">$<%= sprintf('%.2f',fine['balance'].to_f) %></div>
      </div>
    </div>
  <% end %>
</div>
<div class="pt-3">Total Payment: $<%= sprintf('%.2f',@total.to_f) %></div>
<!--
TODO: 
This is the info that *should* be sent to and returned from Paypal
We then want to send it to the credit route to credit the users 
account... at least I think that's how it works.
-->
<div class="pt-5 pb-5">Trasaction Info: 
  <%= "#{@transaction_details['alma_id']}|#{@transaction_details['total']}|#{@transaction_details['fines'].map{|fine| fine['id']}.join(':')}" %>
</div>
<!-- 
<div class="d-flex justify-content-center pt-3 pb-5">
  <button class="btn btn-primary">Pay with PayPal</button>
</div>
-->
<!-- TEMPORARY - for now let's use a link to develop the credit route -->
<div class="d-flex justify-content-center pt-3 pb-5">
  <%= form_with url: "/fines/credit", method: :post, local:true do |form| %>
    <%= form.hidden_field :transaction_info, :value => @transaction_info %>
    <%= form.submit("Test Credit Account", {:class => 'btn btn-primary'}) %>
  <% end %>
</div>
<!-- remove 'pilot-' before going live! -->
<form method="POST" action="https://pilot-payflowlink.paypal.com">
  <input type="hidden" name="LOGIN" value="sullivanLib">
  <input type="hidden" name="PARTNER" value="PayPal">
  <input type="hidden" name="AMOUNT" value="<%= sprintf('%.2f',@transaction_details['total'].to_f) %>">
  <input type="hidden" name="TYPE" value="S">
  <input type="hidden" name="USER1" value="<%= @transaction_details['alma_id'] %>">
  <input type="hidden" name="USER2" value="<%= @transaction_details['fines'].map{|fine| fine['id']}.join(':') %>">
  <div class="d-flex justify-content-center pt-3 pb-5">
    <input type="submit" class="btn btn-warning" value="Continue to PayPal">
  </div>
</form>
