<section class="record">
  <%
    if item.persisted?
      # TODO: see if this is simpler if we use directory as ID
      url = lending_update_path(directory: item.directory)
      submit_label = 'Save Changes'
    else
      url = lending_path
      submit_label = 'Add Item'
    end

  %>
  <%= form_with(model: item, url: url, local: true) do |form| %>
    <table>
      <tbody>
      <tr>
        <th><%= form.label(:title, class: 'control-label') %></th>
        <td><%= form.text_field(:title, class: 'form-control add-required') %></td>
      </tr>

      <tr>
        <th><%= form.label(:author, class: 'control-label') %></th>
        <td><%= form.text_field(:author, class: 'form-control add-required') %></td>
      </tr>

      <tr>
        <th><%= form.label(:directory, class: 'control-label') %></th>
        <td><%= form.text_field(:directory, class: 'form-control add-required') %></td>
      </tr>

      <tr>
        <th><%= form.label(:copies, class: 'control-label') %></th>
        <td><%= form.text_field(:copies, class: 'form-control add-required') %></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th class="action">
          <input type="submit" class="btn btn-primary" value="<%= submit_label %>">
        </th>
      </tr>
      </tfoot>
    </table>
  <% end %>
</section>
