<section class="record">
  <table>
    <thead>
    <tr>
      <th>
        <h2>
          <%= presenter.title %>
        </h2>
      </th>
    </tr>
    </thead>
  </table>

  <% if presenter.show_viewer? %>
    <%=
      render(
        partial: 'viewer',
        locals: {
          manifest_url: manifest_url,
          viewer_title: presenter.viewer_title,
        }
      )
    %>
  <% end %>

  <table>
    <% presenter.fields.each do |label, value| %>
      <tr>
        <th><%= label %></th>
        <td><%= format_value(value) %></td>
      </tr>
    <% end %>
    <% if presenter.show_copyright_warning? %>
      <tr>
        <td class="copyright">
          <h3>⚠️ Notice concerning copyright restrictions</h3>
          <p>
            The copyright law of the United States (Title 17, United States Code)
            governs the making of digital reproductions of copyrighted material.
          </p>
          <p>
            Under certain conditions specified in the law, libraries and archives
            are authorized to furnish a digital reproduction. The digital reproduction
            is not to be “used for any purpose other than private study, scholarship,
            or research.” If a user makes a request for, or later uses, a digital
            reproduction for purposes in excess of fair use, that user may be liable
            for copyright infringement.
          </p>
        </td>
      </tr>
      <tr>
        <th class="action" style="grid-column: 1 / 3"><%# TODO: something less hacky %>
          <%= presenter.action %>
        </th>
      </tr>
    <% else %>
      <tr>
        <th class="action">
          <%= presenter.action %>
        </th>
      </tr>
    <% end %>

  </table>
</section>
