<%
  author = @lending_item.author

  fields = {
    'Title' => @lending_item.title,
    'Author' => author,
  }.merge(additional_fields)
%>

<section class="record">
  <table>
    <thead>
    <tr>
      <th>
        <h2>
          <%= @lending_item.title %>
        </h2>
      </th>
    </tr>
    </thead>
  </table>
  <% if show_viewer %>
    <%=
      render(
        partial: 'viewer',
        locals: {
          manifest_url: manifest_url,
          viewer_title: viewer_title,
        }
      )
    %>
  <% end %>

  <table>
    <% fields.each do |label, value| %>
      <tr>
        <th><%= label %></th>
        <td><%= format_value(value) %></td>
      </tr>
    <% end %>
    <tr>
      <th class="action">
        <% if show_copyright_warning %>
          <section class="copyright-warning">
          <h4>Notice concerning copyright restrictions</h4>
          <p>
            The copyright law of the United States (Title 17, United States Code)
            governs the making of digital reproductions of copyrighted material.
          </p>
          <p>
            Under certain conditions specified in the law, libraries and archives
            are authorized to furnish a digital reproduction. The digital reproduction
            is not to be “used for any purpose other than private study, scholarship,
            or research.” If a user makes a request for, or later uses, a digital
            reproduction for purposes in excess of fair use, that user may be liable
            for copyright infringement.
          </p>
          </section>
        <% end %>
        <%= action %>
      </th>
    </tr>
  </table>
</section>
