<h1>TIND Metadata Download</h1>

<%= form_with(url: '/tind-download/download', local: true, target: '_blank') do |form| %>
  <section id="tind-download-form">

      <div class="form-label">
        <p><%= form.label(:collection_name, 'Collection Name') %>:</p>
      </div>
      <div class="form-input">
        <p>
          <%= image_tag('spinner.svg', class: :spinner, height: 24) %>
          <%= form.text_field(:collection_name) %>
        </p>
      </div>

      <div class="form-label">
        <p>Export format:</p>
      </div>
      <div class="form-input">
        <ul>
          <% radio_button_id = :export_format %>
          <% UCBLIT::TIND::Export::ExportFormat.each do |fmt| %>
          <li>
            <%
              val = fmt.value.downcase
              label_id = "#{radio_button_id}_#{val}".to_sym
            %>
            <%= form.radio_button(radio_button_id, fmt.value, checked: fmt.default?) %>
            <%= form.label(label_id, fmt.description) %>
          </li>
          <% end  %>
        </ul>
      </div>

      <div class="form-input">
        <%# TODO: enable/disable etc. %>
        <p><%= form.submit('Download Metadata') %></p>
      </div>
  </section>
<% end %>
