<%= form_with(url: '/tind-download/download', id: 'download-form', local: true, target: '_blank') do |f| %>
  <h1>TIND Metadata Download</h1>

  <p id="description-text">
    This form allows you to search for and download a collection from TIND into either a CSV file
    or Open Office Spreadsheet.
  </p>

  <section id="tind-download-form">
    <p class="required-note">Required</p>

    <div class="form-label form-group required">
      <%= label_tag(:collection_name, 'Collection Name', class: 'control-label') %>
    </div>
    <div class="form-input required mb-4">
      <%= f.text_field(:collection_name, class: 'narrow form-control add-required', required: true, autofocus: true) %>
    </div>

    <div class="form-label">
      <%= f.label(:export_format, 'Export Format') %>:
    </div>
    <div class="form-input">
      <ul>
        <% radio_button_id = :export_format %>
        <% UCBLIT::TIND::Export::ExportFormat.each do |fmt| %>
          <% val = fmt.value.downcase %>
          <li>
            <%= f.radio_button(radio_button_id, fmt.value, checked: fmt.default?) %>
            <%= f.label("#{radio_button_id}_#{val}".to_sym, fmt.description) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="form-input">
      <p><input type="submit" id='export-btn' class='btn btn-primary' value="Download Metadata"></p>
    </div>
  </section>
<% end %>
