<h1>UC Berkeley Library Forms</h1>
<ul id="webforms">
  <li><%= link_to("Opt in/out of alt-media scanning (requires CalNet)", new_scan_request_form_path) %></li>
  <li><%= link_to("Library Staff Electronic Devices Loan - Terms and Conditions form (requires CalNet)", new_libstaff_edevices_loan_form_path) %></li>
  <li><%= link_to("Request a UC Berkeley Affiliate Borrowing Card", new_affiliate_borrow_request_form_path) %></li>
  <li><%= link_to("Student Electronic Devices Loan - Terms and Conditions form (requires CalNet)", new_student_edevices_loan_form_path) %></li>
  <li><%= link_to("Library Alt-Media Service Article Request Form", new_service_article_request_form_path) %></li>
  <li><%= link_to("Doe/Moffitt Study Room/Studio Use - Terms and Conditions form (requires CalNet)", new_doemoff_study_room_use_form_path) %></li>
  <li><%= link_to("Graphics Arts Loan Collection (GALC) - Borrowing Contract (requires CalNet)", new_galc_request_form_path) %></li>
  <li><%= link_to("Proxy Borrowing Card Forms (requires CalNet)", proxy_borrower_forms_path) %></li>
  <li><%= link_to("Stack Pass/Reference Card", stack_requests_path) %></li>
  <li><%= link_to("TIND Metadata Download", tind_download_path) %></li>
  <li><%= link_to("UC Berkeley Electronic and Accessible Reserves System (UC BEARS)", lending_items_path) %></li>
</ul>
