<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Proxy Borrower Card Request Submission:</h3>
    facultyName: <%= @proxy_request.faculty_name %> <br />
    department: <%= @proxy_request.department %> <br />
    facultyID: <%= @proxy_request.faculty_id %> <br />
    studentName: <%= @proxy_request.student_name %> <br />
    studentDSP: <%= @proxy_request.student_dsp %> <br />
    dspRep: <%= @proxy_request.dsp_rep %> <br />
    researchLast: <%= @proxy_request.research_last %> <br />
    researchFirst: <%= @proxy_request.research_first %> <br />
    researchMiddle: <%= @proxy_request.research_middle %> <br />
    dateRequest: <%= @proxy_request.created_at.strftime('%D') %> <br />
    dateTerm: <%= @proxy_request.date_term.strftime('%D') %> <br />
    renewal: <%= @proxy_request.renewal == 1 ? 'True' : 'False' %> <br />
  </body>
</html>
