<h1>UCOP Employee Card Request</h1>

<p>NOTE TO DEPARTMENT HEAD: Forward approved requests to <a href="mailto:privdesk@library.berkeley.edu">privdesk@library.berkeley.edu</a>.</p>

<p>UC Berkeley Library privileges include access to print and electronic resources. The UC Berkeley Library subscribes to hundreds of online licensed resources, which by license agreements are accessible only to eligible users. Select UCOP staff work on behalf of Berkeley as part of their primary jobs and are eligible for library privileges  temporary staff, contractors, and retirees are not eligible.</p>

<p>To initiate access, the UCOP employee completes and submits this form. Upon submission, that employee's supervisor is emailed for their confirmation that employee meets the eligibility criteria. Once approved, the UCOP employee is sent a library card number and PIN to access online resources through the proxy service  if the UCOP employee wishes to also check out printed material, they need to visit Berkeley's Library Privileges Desk 198 Doe Library in person with their government-issued photo identification e.g. state ID, driver license, or passport to pick up their library card.</p>

<p>Access is granted for up to one year at a time, ending on June 30. The UCOP employee is responsible for maintaining their current contact information with the Berkeley Library and for following Berkeley Library policies. Annual renewals may be requested using this same process.</p>

<hr/>

<div>
  <ul>
    <li>(from-name) <%= "#{@borrow_request.employee_name}" %></li>
    <li>(preferred name) <%= "#{@borrow_request.employee_preferred_name}" %></li>
    <li>(UCOP department name) <%= "#{@borrow_request.department_name}" %></li>
    <li>(UCOP Employee ID number) <%= "#{@borrow_request.employee_id}" %></li>
    <li>(from-email) <%= "#{@borrow_request.employee_email}" %></li>
    <li>(Requester Personal Email) <%= "#{@borrow_request.employee_personal_email}" %></li>
    <li>(Phone Number) <%= "#{@borrow_request.employee_phone}" %></li>
    <li>(UCOP Department Head Name) <%= "#{@borrow_request.department_head_name}" %></li>
    <li>(UCOP Department Head Email) <%= "#{@borrow_request.department_head_email}" %></li>
  </ul>
</div>
