<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Access to UC Berkeley Library Resources for Select Berkeley Campus Affiliate Staff</h1>
  <% if @form.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5>Validation Failed</h5>
      <p>We identified the following errors in your submission:</p>
      <ul>
        <% @form.errors.full_messages.each do |attribute, msg| %>
          <li><%= "#{attribute} #{msg}" %></li>
        <% end %>
      </ul>
      <p>Please correct these and resubmit the form.</p>
    </div>
  <% end %>
  <div class="alert alert-warning"><strong>Eligibility:</strong> This service is available to select Berkeley campus affiliate staff only.</div>
  <p>UC Berkeley Library privileges include access to print and electronic resources. The UC Berkeley Library subscribes to hundreds of online licensed resources, which by license agreements are accessible only to eligible users. Select Berkeley campus affiliate staff, including UCOP and other agencies, work on behalf of Berkeley as part of their primary jobs and are eligible for library privileges; temporary staff, contractors, and retirees are not eligible.</p>
  <p>To initiate access, the employee completes and submits this form. Upon submission, that employee's supervisor/department head is emailed for their confirmation that the employee meets the eligibility criteria. Once approved, the employee is sent a library card number and PIN to access online resources through the proxy service; if the employee wishes to also check out printed material, they need to visit Berkeley's Library Privileges Desk (198 Doe Library) in person with their government-issued photo identification (e.g. state ID, driver license, or passport) to pick up their library card.</p>
  <p>Access is granted for up to one year at a time, ending on June 30. The employee is responsible for maintaining their current contact information with the Berkeley Library and for following Berkeley Library policies. Annual renewals may be requested using this same process.</p>
  <hr />
  <p style="color: #ee0000">* Required</p>
  <h2>Employee Information</h2>
  <%= field_for(f, :employee_name, required: true) %>
  <%= field_for(f, :employee_preferred_name) %>
  <%= field_for(f, :employee_id, required: true) %>
  <%= field_for(f, :employee_email, type: :email_field, required: true) %>
  <%= field_for(f, :employee_personal_email, type: :email_field, required: true) %>
  <%= field_for(f, :employee_phone, type: :telephone_field, required: true) %>
  <%= field_for(f, :employee_address, type: :text_area, required: true) %>
  <h2>Department Information</h2>
  <p>The authorizer will receive a copy of this form via email to approve. To approve, the authorizer must forward this request from their work email account to <a href="mailto:privdesk@library.berkeley.edu">privdesk@library.berkeley.edu</a></p>
  <%= field_for(f, :department_name, required: true) %>
  <%= field_for(f, :department_head_name, required: true) %>
  <%= field_for(f, :department_head_email, type: :email_field, required: true) %>
  <div class="form-group">
    <%= recaptcha_tags %>
  </div>
  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
    <%= f.submit("Reset", type: :reset, class: "btn btn-link") %>
  </div>
<% end %>
