<!-- <h1>Doe/Moffitt Study Room/Studio Use – Terms and Conditions</h1>
<p>Users must be UC Berkeley affiliates issued a Cal 1 ID Card and must be in good standing (no fines, no overdue items, no overdue recalls, and no other account blocks) in order to check out a study room key on the 4th and 5th floors of Moffitt Library as well as in the Gardner Main Stacks. Users must provide their valid Cal 1 Card to borrow; desk staff must be able to scan card barcode at check-out.</p> -->

<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Doe/Moffitt Study Room/Studio Use  - Terms and Conditions</h1>

  <% if @form.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h5>Validation Failed</h5>

      <p>We identified the following errors in your submission:</p>

      <ul>
        <% @form.errors.full_messages.each do |attribute, msg| %>
          <li><%= "#{attribute} #{msg}" %></li>
        <% end %>
      </ul>

      <p>Please correct these and resubmit the form.</p>
    </div>
  <% end %>

  <div class="alert alert-warning"><strong>Eligibility:</strong> Doe/Moffitt Study Rooms and Studio Spaces are only available to current UC Berkeley students, faculty, staff, post-docs, and visiting scholars.</div>

  <p>Users must be UC Berkeley affiliates issued a Cal1 ID Card and must be in good standing (no fines, no overdue items, no overdue recalls, and no other account blocks) in order to check out a key for study room use on the 4th and 5th floors of Moffitt Library and the B, C, and D levels of the Gardner Main Stacks. Users must present their own valid Cal1 ID Card for a study room key; desk staff must be able to scan the ID barcode to check out (staff will not manually input any barcode).</p>

  <p>Revised 8/27/2019</p>

  <hr />

  <p style="color: #ee0000">* Required</p>

  <h2>Borrowing Guidelines</h2>

<p></p>

  <ul>
    <li>The current academic year Doe/Moffitt Study Room/Studio Use Agreement Form must be signed electronically or in person prior to borrowing a study room key for any and all Moffitt Library and Gardner Main Stacks study rooms.</li>
    <li>Study room use requires a reservation (in advance or walk-up) and is limited to current UC Berkeley students, faculty, staff, and post-docs/visiting scholars; users must check out the key and claim their reservation in order to use the room.</li>
    <li>Advance reservations must be made online at <a href="https://berkeley.libcal.com" target="_blank">berkeley.libcal.com</a>; each individual user is permitted up to two hours per day (a day is defined as from 12:00:01 a.m. - 11:59 p.m.) booked in advance using a valid UC Berkeley email address.</li>
    <li>Reservations are forfeited on an hour-by-hour basis if not claimed within 15 minutes, at which point only the current hour becomes available for walk-up reservations.</li>
    <li>If availability permits, individuals and groups may inquire at the Doe circulation desk or Moffitt 4th floor service desk about room availability; walk-up reservations are granted only for the current hour on an hour-by-hour basis, and keys are due back at :50 of the present hour.</li>
    <li>Users must vacate the room at or before the reservation end time; rooms should be left neat and free of trash and/or personal belongings, and users/groups must abide by posted occupancy limits; chairs are not to be removed from the room. Moffitt doors must be locked before returning the key.</li>
    <li>There is absolutely NO food/drink permitted in the Gardner Main Stacks and its study rooms.</li>
    <li>Any reservation not claimed within the first 15 minutes will be made available to others for the entire duration of the booking.</li>
  </ul>

  <div class="check-heading" style="font-size: 1.5rem";>Borrowing Guidelines<span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :borrow_check, {required: true}, "checked", "unchecked" %> <%= f.label :borrow_check, "I have read and I understand the borrowing guidelines" %> </div>

<p></p>

  <h2>Fines and Liability</h2>

<p></p>

  <ul>
    <li>Reservations end at :50 of the last hour of the reservation; the key/pager must be returned to the correct circulation/service desk by the end of the hour to avoid penalties. Tardiness in vacating rooms, returning keys, and other poor room use etiquette (judged at library staff discretion) may result in a temporary block from study room use in both Moffitt Library and Gardner Main Stacks rooms.</li>
    <li>Misuse of keys/study spaces including, but not limited to, keeping a key beyond the start of the hour immediately following a reservation end time, keeping a key after attempts by library staff to page keys and/or contact users, vandalism/damage to library property/study spaces, and removing keys/pagers from library premises, may result in a temporary loss of room use privileges.</li>
    <li>If the pager OR key (one or the other alone) is broken/lost/stolen the replacement charge is $160.00; if the key and pager are both broken/lost/stolen the replacement charge is $310.00.</li>
    <li>Misconduct regarding the reservation and/or usage of Doe/Moffitt study rooms may result in an immediate temporary or permanent block or ban from Doe/Moffitt study room use and potential referral to the Center for Student Conduct.</li>
  </ul>
  
  <div class="check-heading" style="font-size: 1.5rem";>Fines and Liability <span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :fines_check, {required: true}, "checked", "unchecked" %> <%= f.label :fines_check, "I have read and I understand the fines and liability." %> </div>

<p></p>

  <%= field_for(f, :display_name, required: true, readonly: true) %>
  <%= field_for(f, :patron_email, required: true, readonly: true) %>
  <%= f.hidden_field :patron_id %>
  
  <h2>Moffitt Library/Gardner Main Stacks Study Room/Studio Use Agreement</h2>
  
  <p>I have read and I understand the usage terms and conditions. When I check out the study room, I am agreeing to abide by the guidelines outlined above. If I do not follow the guidelines above I can be blocked from using the study rooms. By signing below, I take full responsibility for replacement cost and processing charges due to returning the key and pager late.</p>


  <div class="emphasis" style="font-size: 1.5rem";>By checking this box, I am submitting an electronic signature that I agree with, and will adhere to, the policies and procedures stated above.<span style="color: #ee0000">*</span></div>

<p></p>

  <div> <%= f.check_box :roomUse_check, {required: true}, "checked", "unchecked" %> <%= f.label :roomUse_check, "I agree to this Moffitt Library/Gardner Main Stacks Study Room/Studio Use Agreement." %> </div>


  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>





