<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Graphics Arts Loan Collection (GALC) - Borrowing Contract</h1>

  <% if @form.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h5>Validation Failed</h5>

      <p>We identified the following errors in your submission:</p>

      <ul>
        <% @form.errors.full_messages.each do |attribute, msg| %>
          <li><%= "#{attribute} #{msg}" %></li>
        <% end %>
      </ul>

      <p>Please correct these and resubmit the form.</p>
    </div>
  <% end %>

  <br />

  <p>Borrowers must be in good standing (no fines, no overdue items, and no blocks) in order to borrow a print from the Graphic Arts Loan Collection at the Morrison Library.</p>

  <h2>Borrowing Guidelines</h2>
  <ul>
    <li>The current academic year GALC Borrowing Agreement form must be signed electronically by clicking the button below prior to checking out a print.</li>
    <li>Borrowers may check-out up to two prints each academic year beginning with the Fall semester.</li>
    <li>Prints are due a few weeks before the Spring semester ends. The GALC prints do not circulate during the Summer.</li>
    <li>Prints are the property of the University of California.</li>
    <li>You are personally responsible for the prints. You must check out and return them yourself to the Morrison Library during open hours.</li>
    <li>Borrowers may not loan or transfer prints to another person.</li>
    <li>Prints must be returned within two weeks if you withdraw from the university or otherwise lose your university status.</li>
    <li>Prints must not be removed from the frame for any reason.</li>
    <li>Prints must not be copied.</li>
    <li>Prints must not be hung in a damp room or in direct sunlight.</li>
    <li>Clean only with a dry cloth.</li>
</ul>

  <div> <%= f.check_box :borrow_check, {required: true}, "checked", "unchecked" %> <%= f.label :borrow_check, "I agree" %> </div>

  <br />

  <h2>Fines and Liability</h2>
  <ul>
    <li>You are fully responsible for the good care and safe return of a print.</li>
    <li>If a print or frame is damaged in any way, return it immediately to the Morrison Library.</li>
    <li>You will be billed for repair costs and processing fees. If a print is damaged beyond repair, you will be billed the value of the print plus frame, which could exceed $1,000.</li>
    <li>Prints not returned by the due date can result in being billed the total value of the print and framing, which could exceed $1,000.</li>
    <li>Prints not returned in the packing materials they were checked out in will be charged a $10 materials fee.</li>
  </ul>

  <div> <%= f.check_box :fine_check, {required: true}, "checked", "unchecked" %> <%= f.label :fine_check, "I agree" %> </div> 

  <br />  

  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>
