<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Library Alt-Media Service - Article Request Form</h1>

  <% if @form.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h5>Validation Failed</h5>

      <p>We identified the following errors in your submission:</p>

      <ul>
        <% @form.errors.full_messages.each do |attribute, msg| %>
          <li><%= "#{attribute} #{msg}" %></li>
        <% end %>
      </ul>

      <p>Please correct these and resubmit the form.</p>
    </div>
  <% end %>

  <br />

  <p>This article request form is for patrons who are eligible to use the Library’s Alt-Media Scanning Service. Please see <a href="http://www.lib.berkeley.edu/help/disability-resources-print">Disability resources - Print disabilities</a> for more information about the service. Patrons seeking whole book scanning should request the book through <a href="http://oskicat.berkeley.edu">OskiCat</a>.</p>

  <br />

  <h2>Patron Information</h2>

  <br />

  <%= f.label "Name" %>
  <%= f.text_field :display_name, required: true, :style => 'width:60%', :class => "narrow form-control is-valid" %><br />
  <%= f.label "Email" %>:
  <%= f.text_field :patron_email, required: true, :style => 'width:60%', :class => "narrow form-control is-valid" %><br />

  <p>Articles will be emailed to the email address provided above.

  <br />

  <h2>Journal Information</h2>

  <br />

  <span style="color: #ee0000">* Required</span><br />

  <br />

  <p style="margin-bottom: 0.5rem;">Journal Title (no abbreviations)<span style="color: #ee0000">*</span>: </p>
  <%= f.text_field :pub_title, required: true, :class => "narrow form-control is-valid" %><br />
  <%= f.label("pub_place", "Place of Publication") %>:
  <%= f.text_field :pub_location, :class => "narrow form-control is-valid" %><br />
  <%= f.label("issn", "ISSN") %>:
  <%= f.text_field :issn, :class => "narrow form-control is-valid" %><br />
  <p style="margin-bottom: 0.5rem;">Volume and/or Date<span style="color: #ee0000">*</span>: </p>
  <%= f.text_field :vol, required: true, :class => "narrow form-control is-valid" %><br />
  <p style="margin-bottom: 0.5rem;">Article Title<span style="color: #ee0000">*</span>: </p>
  <%= f.text_field :article_title, required: true, :class => "narrow form-control is-valid" %><br />
  <%= f.label("article_author", "Article Author") %>:
  <%= f.text_field :author, :class => "narrow form-control is-valid" %><br />
  <%= f.label("article_pages", "Article Pages") %>:
  <%= f.text_field :pages, :class => "narrow form-control is-valid" %><br />
  <p style="margin-bottom: 0.5rem;">Citation Found in (example: OskiCat Call Number; Melvyl/Worldcat Location; OCLC Number; Other)<span style="color: #ee0000">*</span>: </p>
  <%= f.text_field :citation, required: true, :class => "narrow form-control is-valid" %><br />
  <%= f.label "Notes" %>:
  <%= f.text_field :pub_notes, :class => "narrow form-control is-valid" %><br />

  <br />

  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>