<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Library Alt-Media Service - Article Request Form</h1>

  <%= render 'application/form_error', model: @form if @form.errors.any? %>

  <p>This article request form is for patrons who are eligible to use the Library’s Alt-Media Scanning Service. Please see <a href="https://www.lib.berkeley.edu/help/disability-resources-print" target="_blank">Disability resources - Print disabilities</a> for more information about the service. Patrons seeking whole book scanning should request the book through <a href="https://search.library.berkeley.edu" target="_blank">UC Library Search</a>.</p>
  <section>
    <h2>Patron Information</h2>

    <span class="required-note">* Required</span>

    <%= field_for(f, :display_name, required: true) %>
    <%= field_for(f, :patron_email, type: :email_field, required: true) %>
  </section>

  <section>
    <h2>Journal Information</h2>

    <%= field_for(f, :pub_title, required: true) %>
    <%= field_for(f, :pub_location) %>
    <%= field_for(f, :issn) %>
    <%= field_for(f, :vol, required: true) %>
    <%= field_for(f, :article_title, required: true) %>
    <%= field_for(f, :author) %>
    <%= field_for(f, :pages) %>
    <%= field_for(f, :citation) %>
    <%= field_for(f, :pub_notes) %>
  </section>

  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>