<span class="flex-heading">
  <span>
    <h1 class="inline-title">All Stack Pass Requests</h1>
  </span>
  <span>
    <%= link_to 'Admin Home', 
      forms_stack_pass_admin_path, 
      class: "title-link text-nowrap" %>
  </span>
</span>
<table class="table table-bordered mt-5">
  <caption class="visually-hidden">
    All stack pass requests.  Column headers with buttons are sortable.
  </caption>
  <thead class="thead-light has-sortable-columns">
    <tr>
      <th scope="col">Link</th>
      <%= sortable "name", "Name" %>
      <%= sortable "email", "Email" %>
      <%= sortable "pass_date", "Pass Date" %>
      <%= sortable "approvedeny", "Status" %>
      <%= sortable "created_at", "Request Date" %>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
      <tr>
        <td class="text-center">
          <%= link_to stack_pass_form_path(r.id), class: 'no-link-style', title: 'View or Edit Request' do %>
            <span class="visually-hidden">View or Edit Request</span>
            <span aria-hidden="true">&#x1F517;</span>
          <% end %>
        </td>
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><time datetime="<%= r.pass_date.strftime("%Y-%m-%d") %>"><%= r.pass_date.strftime("%m/%d/%Y") %></time></td>
        <td><%= r.status %></td>
        <td><%= r.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
