<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Request for Access to Main (Gardner) Stacks</h1>
  <p>The Stacks are open to those with a current University of California ID, UC Berkeley Library Card or Stanford ID. Scholars and the general public with no such affiliation who have a research need for materials with the location MAIN (Gardner) Stacks in our catalogs must acquire a stacks access pass. Requests for same-day access or for access at a future date, no more than 7 days in the future, can be made using the form below. Requests for longer-term access can be made in person at the <%= link_to 'Privileges Desk', 'https://www.lib.berkeley.edu/find/privileges-desk' %> or via the <%= link_to 'Main Stacks Reference Card Request form', new_reference_card_form_path %>.</p>
  <p>Permission for stack access is not automatic. You do not have permission unless you receive a positive reply from us. Access is not granted for studying, browsing, visiting with friends or family, or using the computers. A current government-issued photo ID is required to access the Stacks; no one under the age of eighteen (18) will be allowed to utilize the collection independently.</p>
  <ul>
    <li>For <strong>same-day</strong> access, Monday-Friday, your request must be submitted by 10 AM. To visit the Stacks on the weekend, your request must be made by 2 PM on the previous Friday.</li>
    <li>If your request is approved, you will receive your pass as an email attachment. <strong>You may print out the pass before coming to the Library or you may save the pass to your phone</strong>. Library computers provide access to email hosted on .edu, .gov, .org, and .com domains.</li>
    <li>You must fill out the form <strong>completely</strong>.</li>
  </ul>
  <!-- FORM START -->
  <p style="color: #ee0000">* Required</p>
  <!-- name, email, phone -->
  <%= field_for(f, :name, required: true) %>
  <%= field_for(f, :email, required: true) %>
  <%= field_for(f, :phone, required: true) %>
  <!-- main_stack : Item in Main Stacks -->
  <% if f.object.main_stack %>
    <div class="form-group m-0 required">
      <fieldset class="form-group m-0 p-0">
        <legend class="required" style="font-size: 1rem">Is the item in the Main (Gardner) Stacks? <span style="color: red">*</span></legend >
        <div class="mb-4 form-group">
          <%= radio_button_tag(:stack_pass_form_main_stack, 0, false, onClick: "showBlock('main_stack_warn'), disableElement('submit_btn')", id: 'stack_pass_form_main_stack_no', name: 'stack_pass_form[main_stack]') %>
          <%= label_tag(:stack_pass_form_main_stack_no, "No") %>
          <%= radio_button_tag(:stack_pass_form_main_stack, 1, true, onClick: "hideBlock('main_stack_warn'), enableElement('submit_btn')", id: 'stack_pass_form_main_stack_yes', name: 'stack_pass_form[main_stack]') %>
          <%= label_tag(:stack_pass_form_main_stack_yes, "Yes") %>
        </div>
      </fieldset>
    </div>
  <% else %>
    <div class="form-group m-0 required">
      <fieldset class="form-group m-0 p-0">
        <legend class="required" style="font-size: 1rem">Is the item in the Main (Gardner) Stacks? <span style="color: red">*</span></legend >
        <div class="mb-4 form-group">
          <%= radio_button_tag(:stack_pass_form_main_stack, 0, false, onClick: "showBlock('main_stack_warn'), disableElement('submit_btn')", id: 'stack_pass_form_main_stack_no', name: 'stack_pass_form[main_stack]') %>
          <%= label_tag(:stack_pass_form_main_stack_no, "No") %>
          <%= radio_button_tag(:stack_pass_form_main_stack, 1, false, onClick: "hideBlock('main_stack_warn'), enableElement('submit_btn')", id: 'stack_pass_form_main_stack_yes', name: 'stack_pass_form[main_stack]') %>
          <%= label_tag(:stack_pass_form_main_stack_yes, "Yes") %>
        </div>
      </fieldset>
    </div>
  <% end %>
  <!-- Only display this note if user selects no above -->
  <div id="main_stack_warn" style="display:none;">
    <fieldset style="padding: 1rem; border-radius: 10pt; border: 1pt black solid; background-color: lightgrey;">
      <strong>Passes are only for the Main (Gardner) Stacks. Please consult <%= link_to 'reference', 'https://ucberkeley.libanswers.com/' %> staff about your research need.</strong>
    </fieldset>
    <br />
  </div>
  <!-- pass_date : Stack Pass Access Date -->
  <div class="form-group m-0 required">
    <%= label_tag(:stack_pass_form_pass_date, "On which day do you need access to the Main (Gardner) Stacks?", class: "control-label mb-2") %>
    <%= text_field_tag(:pass_date, nil, class: "form-control w-25 mb-0", placeholder: "mm/dd/yyyy", required: true, id: 'stack_pass_form_pass_date', name: 'stack_pass_form[pass_date]') %>
    <% if ! f.object.errors.messages[:pass_date].empty? %>
      <% if f.object.inspect %>
        <script>
          document.getElementById("stack_pass_form_pass_date").style.borderColor = 'red';
        </script>
      <% end %>
    <% end %>
    <br/>
  </div>
  <!-- local_id : Location of item -->
  <%= field_for(f, :local_id, required: true) %>
  <small id="searchHelpBlock" class="form-text text-muted" style="padding-bottom: 15px;">
    Location should read 'MAIN (Gardner) Stacks' and Status: 'Available'
  </small>
  <!-- Recaptcha -->
  <div class="form-group">
    <%= recaptcha_tags %>
  </div>
  <!-- Submit/Reset Buttons -->
  <p>
    <% if f.object.main_stack %>
      <input id="submit_btn" type="submit" class="btn btn-primary" value="Submit">
    <% else %>
      <input id="submit_btn" type="submit" class="btn btn-primary" value="Submit" disabled>
    <% end %>
    <input type="button" name="reset" class="btn btn-link" value="Reset" onclick="formReset('stack-pass');">
  </p>
  <!-- FORM END -->
<% end %>
<script>
  $(function() {
    $( "#stack_pass_form_pass_date" ).datepicker();
  });
</script>
