<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Request for Reference Card - Main (Gardner) Stacks</h1>
  <p>The UC Berkeley Library is comprised of many campus libraries and a portion of the collection is shelved off-campus. The requested description of the researcher's needs enables us to help you confirm if the MAIN Stacks has the materials you seek. Most other campus library collections are accessible for browsing without a pass or advanced approval. MAIN Stacks also offers a <%= link_to 'one-day pass', new_stack_pass_form_path %> for short-term needs.</p>
  <p>Researchers requiring extended access to the on-site collections of the Main (Gardner) Stacks may apply for a Reference Card by completing this form. Responses are generally provided within a week of submission. If approved, the requester will receive a reply with an approval document as a PDF attachment. The requestor may print out the approval document or save it to their phone and bring it to the <%= link_to 'Library Privileges Desk', 'https://www.lib.berkeley.edu/find/privileges-desk' %> (Doe Library, Gardner Stacks Level A) along with a government-issued photo ID (passport, driver license, or state ID).</p>
  <!-- FORM START -->
  <p class="required-note">Required</p>
  <!-- name, affiliation, email, research description -->
  <%= field_for(f, :name, required: true) %>
  <%= field_for(f, :affiliation) %>
  <%= field_for(f, :email, required: true) %>
  <%= field_for(f, :research_desc, required: true) %>
  <!-- local_id : Location of item -->

  <div class="form-group required">
    <%= f.label(:local_id, class: "control-label") %>
    <p id="searchHelpBlock" class="form-text">
      Location should read 'MAIN (Gardner) Stacks' and Status: 'Available'
    </p>
    <%= f.text_field :local_id, class: "form-control", required: true, aria: { describedby: 'searchHelpBlock', required: true } %>
  </div>

  <%= field_for(f, :pass_date, type: :date_field, required: true, html_options: { min: Time.zone.today, class: "w-auto" }) %>

  <%= field_for(f, :pass_date_end, type: :date_field, required: true, html_options: { min: Time.zone.today, class: "w-auto" }) %>

  <!-- Recaptcha -->
  <div class="form-group">
    <%= recaptcha_tags %>
  </div>
  <!-- Submit/Reset Buttons -->
  <p>
    <input id="submit_btn" type="submit" class="btn btn-primary" value="Submit">
    <input type="reset" class="btn btn-link" value="Reset">
  </p>
  <!-- FORM END -->
<% end %>
<script>
  // on pass_date change, use value for the pass_date_end min
  document.getElementById('reference_card_form_pass_date').addEventListener('change', function() {
    const passDate = this;
    const passDateEnd = document.getElementById('reference_card_form_pass_date_end');
    if (passDate.value) {
      passDateEnd.min = passDate.value;

      // reset pass_date_end if it is before pass_date
      if (passDate.value > passDateEnd.value) {
        passDateEnd.value = '';
        passDateEnd.classList.remove('is-valid');
      }
    } else {
      passDateEnd.min = '';
    }
  });
</script>