<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Request for Reference Card - Main (Gardner) Stacks</h1>
  <p>The UC Berkeley Library is comprised of many campus libraries and a portion of the collection is shelved off-campus. The requested description of the researcher's needs enables us to help you confirm if the MAIN Stacks has the materials you seek. Most other campus library collections are accessible for browsing without a pass or advanced approval. MAIN Stacks also offers a one-day pass [link to form] for short-term needs.</p>
  <p>Researchers requiring extended access to the on-site collections of the Gardner (MAIN) Stacks may apply for a Reference Card by completing this form. Responses are generally provided within a week of submission. If approved, the requester must visit the Library Privileges Desk (Doe Library, Gardner Stacks Level A) with a printout of the approval document sent to them via email, along with a government-issued photo ID (passport, driver license, or state ID) to obtain their Reference Card.</p>
  <!-- FORM START -->
  <p style="color: #ee0000">* Required</p>
  <!-- name, email, phone -->
  <%= field_for(f, :name, required: true) %>
  <%= field_for(f, :affiliation) %>
  <%= field_for(f, :email, required: true) %>
  <%= field_for(f, :research_desc, required: true) %>
  <%= field_for(f, :local_id, required: true) %>
  <!-- local_id : Location of item -->
  <small id="searchHelpBlock" class="form-text text-muted">
    Location should read 'MAIN (Gardner) Stacks' and Status: 'Available'
  </small>
  <br/>
  <!-- pass_date : Ref Card Start Date -->
  <div class="form-group m-0 required">
    <%= label_tag(:pass_date, "Requested access start date", class: "control-label mb-2") %>
    <%= text_field_tag(:pass_date, nil, class: "form-control w-25 mb-0", placeholder: "mm/dd/yyyy", required: true, id: 'reference_card_form_pass_date', name: 'reference_card_form[pass_date]') %>
    <br/>
  </div>
  <!-- pass_date_end : Ref Card End Date -->
  <div class="form-group m-0 required">
    <%= label_tag(:pass_date_end, "Requested access end date", class: "control-label mb-2") %>
    <%= text_field_tag(:pass_date_end, nil, class: "form-control w-25 mb-0", placeholder: "mm/dd/yyyy", required: true, id: 'reference_card_form_pass_date_end', name: 'reference_card_form[pass_date_end]') %>
    <br/>
  </div>
  <!-- Recaptcha -->
  <div class="form-group">
    <%= recaptcha_tags %>
  </div>
  <!-- Submit/Reset Buttons -->
  <p>
    <input id="submit_btn" type="submit" class="btn btn-primary" value="Submit">
    <input type="button" name="reset" class="btn btn-link" value="Reset" onclick="formReset('reference-card');">
  </p>
  <!-- FORM END -->
<% end %>
<script>
  $(function() {
    $( "#reference_card_form_pass_date" ).datepicker();
  });
  $(function() {
    $( "#reference_card_form_pass_date_end" ).datepicker();
  });
</script>
