<%# TODO: Form validation (cf. TIND) %>
<section id="holdings-task-form">
  <p class="required-note">Required</p>

  <%= form_with(model: holdings_task) do |form| %>
    <% if holdings_task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(holdings_task.errors.count, "error") %> prohibited this holdings_task from being saved:</h2>

        <ul>
          <% holdings_task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <ul>
      <li>
        <div class="form-label form-group required">
          <%= form.label :email, class: 'control-label' %>
        </div>
        <div class="form-input required mb-4">
          <%= form.text_field :email, class: 'form-control add-required' %>
        </div>
      </li>
      <li>
        <div class="form-label form-group required">
          <%= form.label :input_file, class: 'control-label' %>
        </div>
        <div class="form-input required mb-4">
          <%= form.file_field :input_file, class: 'form-control add-required' %>
        </div>
      </li>
      <li>
        <fieldset class="required">
          <legend>Include</legend>
          <ul>
            <li>
              <%= form.label :rlf %>
              <%= form.check_box :rlf %>
            </li>
            <li>
              <%= form.label :uc %>
              <%= form.check_box :uc %>
            </li>
            <li>
              <%= form.label :hathi %>
              <%= form.check_box :hathi %>
            </li>
          </ul>
        </fieldset>
      </li>
      <li>
        <%= form.submit(class: %w[btn btn-primary]) %>
      </li>
    </ul>
  <% end %>
</section>
