<h1>All holdings requests</h1>

<div id="holdings_tasks">
  <table class="holdings-task holdings-task-list">
    <thead>
      <tr>
        <td></td>
        <th scope="col">Email</th>
        <th scope="col">Input file</th>
        <th scope="col">RLF</th>
        <th scope="col">UC</th>
        <th scope="col">HT</th>
        <th scope="col"># Records</th>
        <th scope="col"># Complete</th>
        <th scope="col"># Errors</th>
        <th scope="col">Output file</th>
      </tr>
    </thead>
    <tbody>
    <% @holdings_tasks.each do |task| %>
      <tr id="<%= dom_id task %>">
        <td><%= link_to 'View', task %></td>
        <td><%= task.email %></td>
        <td><%= link_to(task.filename, rails_blob_path(task.input_file, disposition: 'attachment')) %></td>
        <% [:rlf, :uc, :hathi].each do |opt| %>
          <td>
            <% value = task.send(opt) || false %>
            <%= t("activerecord.attributes.holdings_task.include.#{value}") %>
          </td>
        <% end %>
        <td><%= task.record_count %></td>
        <td><%= task.completed_count %></td>
        <td><%= task.error_count %></td>
        <td>
          <% if task.output_file.attached? %>
            <%= link_to(task.output_filename, rails_blob_path(task.output_file, disposition: 'attachment')) %>
          <% else %>
            (none)
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
