<%# Calculate the max date %>
<% max_date = ProxyBorrowerRequests.max_term %>

<%= form_for @form, url: "/forms/proxy-borrower/request_dsp" do |f| %>
  <h1>Proxy Borrower Card Application Form - DSP</h1>
  <%= render 'application/form_error', model: @form if @form.errors.any? %>
  <p><i>This form will be submitted to the Library Privileges Desk - Doe Library, floor 1</i></p>
  <p class="required-note">Required</p>
  <hr>
  <p>
    As a participant in the Disabled Students Program (DSP) (student requiring special 
    accommodation) at UC Berkeley, I request that the Library permit the person named 
    below to withdraw books in my name for use in research. I will take full responsibility 
    for all materials checked out with this card in my name.
  </p>
  <%= field_for f, :student_name, required: true, readonly: true %>
  <%= field_for f, :research_last, required: true %>
  <%= field_for f, :research_first, required: true %>
  <%= field_for f, :research_middle %>
  <%= field_for f, :dsp_rep, required: true %>
  <div class="form-group required">
    <%= f.label(:date_term, t('proxy_borrower_forms.shared.term_label', max: max_date.strftime('%B %e, %Y')), class: "control-label") %>
    <%= f.date_field :date_term, class: "narrow form-control w-25", max: max_date, required: true, aria: { required: true }, autocomplete: :off %>
  </div>
  <fieldset class="form-group m-0 p-0">
    <legend style="font-size: 1rem"><%= t('proxy_borrower_forms.shared.renewal_group_legend') %></legend>
    <div class="mb-4 form-group" id="renewal_group">
      <%= f.radio_button :renewal, 0 %>
      <%= f.label :renewal_0, "No" %>
      <%= f.radio_button :renewal, 1 %>
      <%= f.label :renewal_1, "Yes" %>
    </div>
  </fieldset>
  <%# If user selected 'yes', display the renewal instructions %>
  <div id="renewalf"<% if @form.renewal == 0 %> style="display:none;"<% end %>>
    <fieldset>
      <p>
        If you <strong>are in possession</strong> of the old proxy card, bring it to the Privileges
        Desk in 1-2 business days. If you are <strong>not in possession</strong> of the old proxy card,
        please click <strong>No</strong> above to reinitiate.
      </p>
    </fieldset>
  </div>
  <p>
    By submitting this form I acknowledge that I am responsible for all materials borrowed
    under this privilege; that all recall notices will be sent to me; and that I am
    responsible for the return of all materials or the payment of replacement bills for
    materials that are lost or damaged.
  </p>
  <p>
    <input type="submit" class="btn btn-primary" value="Submit">
    <input type="reset" name="reset" class="btn btn-link" value="Reset">
  </p>
<% end %>

<script>
  function changeRenewalDisplay() {
      const renewalf = $('#renewalf');
      $('input#proxy_borrower_requests_renewal_1').prop('checked') ? renewalf.show() : renewalf.hide();
  }
  $('#renewal_group>input').on('change', changeRenewalDisplay);
  /* There is no after-reset DOM event, so we wrap our call in a setTimeout
     so the values are actually reset first. */
  $('form').on('reset', function() { setTimeout(changeRenewalDisplay) });
</script>
