<!-- Calculate the max date -->
<% today = Date.today %>
<% mo = today.month %>
<% yr = today.year %>
<% yr += 1 if mo >= 4 %>
<% max_date = Date.new(yr, 6, 30).strftime("%B %e, %Y") %>
<!-- Flash any errors we encounter -->
<% if @request_form.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="alert-heading">The following errors have been found. Please correct them before submitting the form again:</h5>
    <ul>
      <% @request_form.errors.messages.each do |_attr, msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<%= form_with url: "/forms/proxy-borrower/request_faculty", local: true do |f| %>
  <%= hidden_field_tag :faculty_id, @current_user.ucpath_id  %>
  <%= hidden_field_tag :user_email, @current_user.email %>
  <h1>Proxy Borrower Card Application Form</h1>
  <p><i>This form will be submitted to the Library Privileges Desk - Doe Library, floor 1</i></p>
  <p style="color: #ee0000">* Required</p>
  <hr>
  <p>As a University of California <b>Faculty/Academic Staff</b> member (in good standing) at Berkeley, I 
    request that the Library permit the person named below to withdraw books in my name for use in research.
    I will take full responsibility for all materials checked out with this card in my name.</p>
  <div class="mb-4 form-group">
    <%= label_tag(:faculty_name, "Name of Sponsoring Faculty/Academic Staff:", class: "control-label") %><br />
    <%= text_field_tag(:faculty_name, @current_user.display_name, placeholder: "Enter your name", class: "form-control") %>
  </div>
  <div class="mb-4 form-group">
    <%= label_tag(:department, "Department:", class: "control-label") %><br />
    <%= text_field_tag(:department, @current_user.department_number, placeholder: "Enter your department", class: "form-control") %>
  </div>
  <div class="mb-4 form-group required">
    <%= label_tag(:research_last, "Last name of (research assistant) proxy: ", class: "control-label") %><br />
    <%= text_field_tag(:research_last, @request_form.research_last || nil, placeholder: "Enter the last name of your proxy", class: "form-control", required: true, autofocus: true) %>
  </div>
  <div class="mb-4 form-group required">
    <%= label_tag(:research_first, "First name of (research assistant) proxy: ", class: "control-label") %><br />
    <%= text_field_tag(:research_first, @request_form.research_first || nil, placeholder: "Enter the first name of your proxy", class: "form-control", required: true) %>
  </div>
  <div class="mb-4 form-group">
    <%= label_tag(:research_middle, "Middle name or initial of (research assistant) proxy:", class: "control-label") %><br />
    <%= text_field_tag(:research_middle, @request_form.research_middle || nil, placeholder: "Enter the middle name or initial of your proxy", class: "form-control") %>
  </div>
  <!-- Term of Proxy Card -->
  <div class="form-group m-0 required">
    <%= label_tag(:term, "Term of Proxy Card:", class: "control-label") %>
    (not to exceed <%= max_date %> ) <br />
    <%= text_field_tag(:term, nil, class: "form-control w-25 mb-0", placeholder: "mm/dd/yyyy", required: true, autocomplete: 'off') %>
    <br/>
  </div>
  <!-- Renewal Radio Button - toggles additional info below form -->
  <%# In the event user selects 'yes' and the submission failed check the renewal value and set the radio buttons accordingly %>
  <fieldset class="form-group m-0 p-0">
    <legend style="font-size: 1rem">Is this a renewal of an existing card in the proxy's possession?</legend >
    <% if @request_form.renewal == 1 %>
      <div class="mb-4 form-group">
        <%= radio_button_tag(:renewal, 0, false, onClick: "setProxyBorrowerRenewal('not_renewal')") %>
        <%= label_tag(:renewal_0, "No") %>
        <%= radio_button_tag(:renewal, 1, true, onClick: "setProxyBorrowerRenewal('renewal')") %>
        <%= label_tag(:renewal_1, "Yes") %>
      </div>
    <% else %>
      <div class="mb-4 form-group">
        <%= radio_button_tag(:renewal, 0, true, onClick: "setProxyBorrowerRenewal('not_renewal')") %>
        <%= label_tag(:renewal_0, "No") %>
        <%= radio_button_tag(:renewal, 1, false, onClick: "setProxyBorrowerRenewal('renewal')") %>
        <%= label_tag(:renewal_1, "Yes") %>
      </div>
    <% end %>
  </fieldset>
  <div id="not_renewalf"></div>
  <%# Similar to above issue - if user selected 'yes' display the renewal instructions %>
  <div id="renewalf" <%= 'style="display:none;' if @request_form.renewal == 1 %>>
    <fieldset>
      <p>If you <b>are in possession</b> of the old proxy card, bring it to the Privileges Desk in 1-2
        business days. If you are <b>not in possession</b> of the old proxy card, please click
        <b>No</b> above to reinitiate.</p>
    </fieldset>
  </div>
  <p>By submitting this form I acknowledge that I am responsible for all materials borrowed under this privilege; that
    all recall notices will be sent to me; and that I am responsible for the return of all materials or the payment of
    replacement bills for materials that are lost or damaged.</p>
  <p>
    <input type="submit" class="btn btn-primary" value="Submit">
    <input type="button" name="reset" class="btn btn-link" value="Reset" onclick="hardReset();">
  </p>
<% end %>
<script>
    $(function () {
        $('#term').datepicker();
    });
</script>
