<!-- TODO: Eventually update this and SCSS to use table tags rather than divs -->
<div class="rts-table">
  <div class="rts-header">
    <div class="rts-row">
      <div class="rts-cell rts-w100 rts-c">#</div>
      <div class="rts-cell rts-w400">Type</div>
      <div class="rts-cell rts-w400">Library</div>
      <div class="rts-cell rts-w150">Fee</div>
      <div class="rts-cell rts-w400">Date</div>
      <div class="rts-cell rts-c">Pay</div>
    </div>
  </div>
  <% @fees.fees.each_with_index do |fee, idx| %>
    <div class="rts-rowgrp">
      <div class="rts-row">
        <div class="rts-cell rts-w100 rts-c"><%= idx += 1 %></div>
        <div class="rts-cell rts-w400"><%= fee.type %></div>
        <div class="rts-cell rts-w400"><%= fee.owner %></div>
        <div class="rts-cell rts-w150">$<%= fee.balance %></div>
        <div class="rts-cell rts-w400"><%= I18n.l(fee.date, format: :long) %></div>
        <div class="rts-cell rts-c">
          <label for="fee_payment_<%= fee.id %>" class="hidden_label"><%= fee.type %></label>
          <%= freeze_pay_column ? check_box("fee", "payment_#{fee.id}", {:disabled => true, :checked => true} ) : check_box("fee", "payment", {:multiple => true}, fee.id, nil ) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
