<p id="notice"><%= notice %></p>

<h1>Lending Item Loans</h1>

<table>
  <thead>
    <tr>
      <th>Lending item</th>
      <th>Patron identifier</th>
      <th>Loan status</th>
      <th>Loan date</th>
      <th>Due date</th>
      <th>Return date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lending_item_loans.each do |lending_item_loan| %>
      <tr>
        <td><%= lending_item_loan.lending_item_id %></td>
        <td><%= lending_item_loan.patron_identifier %></td>
        <td><%= lending_item_loan.loan_status %></td>
        <td><%= lending_item_loan.loan_date %></td>
        <td><%= lending_item_loan.due_date %></td>
        <td><%= lending_item_loan.return_date %></td>
        <td><%= link_to 'Show', lending_item_loan %></td>
        <td><%= link_to 'Edit', edit_lending_item_loan_path(lending_item_loan) %></td>
        <td><%= link_to 'Destroy', lending_item_loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending Item Loan', new_lending_item_loan_path %>
