<h1>Controlled Digital Lending</h1>

<% @lending_item = @lending_item_loan.lending_item %>

<%= render partial: 'lending_items/metadata' %>

<p>
  <strong>Lending item:</strong>
  <%= @lending_item_loan.lending_item_id %>
</p>

<p>
  <strong>Patron identifier:</strong>
  <%= @lending_item_loan.patron_identifier %>
</p>

<p>
  <strong>Loan status:</strong>
  <%= @lending_item_loan.loan_status %>
</p>

<p>
  <strong>Loan date:</strong>
  <%= @lending_item_loan.loan_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @lending_item_loan.due_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @lending_item_loan.return_date %>
</p>

<% if @lending_item_loan.active? %>
  <%= form_with(url: lending_item_loans_return_path, id: 'return-form') do |f| %>
    <%= f.hidden_field('lending_item_id', value: @lending_item.id) %>

    <div class="form-input">
      <p>
        <%= f.submit('Return now')  %>
      </p>
    </div>
  <% end %>
<% end %>
