<% @lending_item = @lending_item_loan.lending_item %>

<% content_for(:page_title, "UC BEARS: #{@lending_item.title}") %>

<section class="record">
  <table>
    <thead>
    <% if @lending_item_loan.active? %>
      <tr>
        <th>View</th>
      </tr>
      <tr>
        <% if @lending_item.processed? %>
          <td class="viewer">
            <div class="viewer">
              <%= render(partial: 'lending_items/mirador') %>
            </div>
          </td>
        <% else %>
          <td class="description">
            <p><%= LendingItem::MSG_UNPROCESSED %></p>
          </td>
        <% end %>
      </tr>
    <% end %>
    </thead>
  </table>

  <table>
    <thead>
    <tr>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'lending_items/metadata' %>

    <% if @lending_item_loan.persisted? %>
      <tr>
        <th>Loan status:</th>
        <td><%= @lending_item_loan.loan_status %></td>
      </tr>

      <tr>
        <th>Checked out:</th>
        <td><%= @lending_item_loan.loan_date %></td>
      </tr>

      <tr>
        <th>Due:</th>
        <td><%= @lending_item_loan.due_date %></td>
      </tr>

      <% if @lending_item_loan.complete? %>
        <tr>
          <th>Returned:</th>
          <td><%= @lending_item_loan.return_date %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <% if @lending_item_loan.active? %>
        <th class="action return">
          <%= form_with(url: lending_item_loans_return_path, id: 'return-form', local: true) do |f| %>
            <%= f.hidden_field('lending_item_id', value: @lending_item.id) %>
            <%= f.submit('Return now', style: 'width: 100%;') %>
          <% end %>
        </th>
      <% else %>
        <th class="action checkout">
          <%= form_with(url: lending_item_loans_checkout_path, id: 'checkout-form', local: true) do |f| %>
            <%= f.hidden_field('lending_item_id', value: @lending_item.id) %>
            <%= f.submit(
                  'Check out',
                  style: 'width: 100%;',
                  disabled: @lending_item.checkout_disabled?,
                  disable_with: @lending_item.checkout_disabled_reason
                ) %>
          <% end %>
        </th>
      <% end %>
    </tr>
    </tbody>

  </table>
</section>
