<%= form_with(model: lending_item, local: true) do |form| %>
  <table class="table table-bordered table-striped" style="width: auto;">

    <tbody>
    <tr class="form-group required">
      <th class="form-label"><%= form.label(:barcode, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:barcode, class: 'form-control add-required') %></td>
    </tr>

    <tr class="form-group required">
      <th class="form-label"><%= form.label(:filename, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:filename, class: 'form-control add-required') %></td>
    </tr>

    <tr class="form-group required">
      <th class="form-label"><%= form.label(:title, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:title, class: 'form-control add-required') %></td>
    </tr>

    <tr class="form-group required">
      <th class="form-label"><%= form.label(:author, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:author, class: 'form-control add-required') %></td>
    </tr>

    <tr class="form-group required">
      <th class="form-label"><%= form.label(:millennium_record, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:millennium_record, class: 'form-control add-required') %></td>
    </tr>

    <tr class="form-group required">
      <th class="form-label"><%= form.label(:alma_record, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:alma_record, class: 'form-control add-required') %></td>
    </tr>

    <tr class="form-group required">
      <th class="form-label"><%= form.label(:copies, class: 'control-label') %></th>
      <td class="form-input"><%= form.text_field(:copies, class: 'form-control add-required') %></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td></td>
      <td>
        <%= form.submit(style: "width: 100%") %>
      </td>
    </tr>
    </tfoot>
  </table>

<% end %>
