<%# TODO: use MARC, share code w/AV player? %>
<tr>
  <th>Title:</th>
  <td><%= @lending_item.title %></td>
</tr>
<tr>
  <th>Author:</th>
  <td><%= @lending_item.author %></td>
</tr>
<tr>
  <th>Directory:</th>
  <td><%= @lending_item.directory %></td>
</tr>
<tr>
  <th>Copies:</th>
  <td><%= @lending_item.copies %></td>
</tr>
<tr>
  <th>Copies available:</th>
  <td><%= @lending_item.copies_available %></td>
</tr>
