<% content_for(:page_title, "UC BEARS: #{@lending_item.title}") %>

<section class="record">
  <table>
    <thead>
    <tr>
      <th>Preview</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if @lending_item.processed? %>
        <td class="viewer">
          <div class="viewer">
            <%= render(partial: 'mirador') %>
          </div>
        </td>
      <% else %>
        <td class="description">
          <p>This item has not yet been processed for viewing.</p>
        </td>
      <% end %>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <%= render(partial: 'metadata') %>
    <tr>
      <th>Processed?</th>
      <td><%= @lending_item.processed? ? 'Yes' : 'No' %></td>
    </tr>
    <% if @lending_item.processed? %>
      <tr>
        <th>IIIF directory</th>
        <td>
          <%= @lending_item.iiif_dir %>
        </td>
      </tr>
    <% end %>
    <% unless (due_dates = @lending_item.due_dates.to_a).empty? %>
      <tr>
        <th>Due dates for current checkouts:</th>
        <td>
          <ul>
            <% due_dates.each do |d| %>
              <li><%= d %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>Checkout link:</th>
      <td><%= link_to lending_item_loans_url(lending_item_id: @lending_item.id), lending_item_loans_path(lending_item_id: @lending_item.id) %></td>
    </tr>
    </tbody>
  </table>

</section>

<%= link_to 'Edit', edit_lending_item_path(@lending_item) %> |
<%= link_to 'Back', lending_items_path %>
