<h1>Controlled Digital Lending</h1>

<section class="record">
  <table class="table table-bordered table-striped" style="width: auto;">
    <tbody>
    <%= render(partial: 'metadata') %>
    <% unless (due_dates = @lending_item.due_dates.to_a).empty? %>
      <tr>
        <th>Due dates for current checkouts:</th>
        <td>
          <ul>
            <% due_dates.each do |d| %>
              <li><%= d %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>Checkout link:</th>
      <td><%= link_to lending_item_loans_url(lending_item_id: @lending_item.id), lending_item_loans_path(lending_item_id: @lending_item.id) %></td>
    </tr>
    </tbody>
  </table>
</section>

<%= link_to 'Edit', edit_lending_item_path(@lending_item) %> |
<%= link_to 'Back', lending_items_path %>
