<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render(partial: 'controller_assets') %>
  </head>
  <body>
    <main id="main">
      <a href="#main" class="visually-hidden focusable skip-link">Skip to main content</a>
      <div id="app" class="container">
        <%= render "layouts/navbar" %>
        <%= alerts %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </main>
  </body>
</html>
