<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render(partial: 'controller_assets') %>
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <div id="app" class="container">
      <%= render "layouts/navbar" %>
      <main id="main">
        <%= alerts %>
        <%= yield %>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
